* {
    font-family: sans-serif;

}

body{
    margin: 0px;
}

.hero{
    background-color: #1f2937;
    flex-direction: column;
    display: flex;
    margin-bottom: 50px;
}

.container{
    display: flex;
    flex-direction: column;
}


.header{
    flex-shrink: 0;
    display: flex;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a , .sub{
    text-decoration: none;
    color: #e5e7eb;
}

.left{
    padding-left: 200px;
    font-size: 24px;
    flex:1;
}

.right {
    padding-right: 200px;
    font-size: 18px;
    flex:1;
    justify-content: right;
    align-items: center;
}

.funstuff {
    display: flex;
    padding: 50px 200px;
    gap: 100px;
}

h1{
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 0px;
}

.hero-left, .hero-right {
    flex: 1;
    padding: 100px 0px;
}


button{
    background-color: #3882f6;
    border-radius: 15px;
    border-style: none;
    padding: 10px 30px;
    font-size: 20px;
    color: #f9faf8;
}


.hero-right {
    justify-content: center;
    text-align: center;
}

.hero-picture{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.drawing {
    height: 250px;
    width: auto;
}

.information {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 125px;
    padding: 0px 500px;
}

.info-header {
    font-size: 36px;
    font-weight:bolder;
    color: #1f2937;
    margin-bottom: 50px;
}

.image {
    border: #3882f6;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    border-style: solid;
    margin-bottom: 20px;
}

.info-content{
    gap: 20px;
}

.info-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 200px;
    color: #1f2937;
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
    padding: 125px 500px;
}

.quote-content {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
}
.quote-author {
    font-size: 20px;
    font-weight:900;
    text-align: right;
    color: #1f2937;
    padding-right: 100px;
}

.call-to-action {
    padding: 50px 300px;
}

.cta-content {
    background-color: #3882f6;
    border-radius: 15px;
    color: #f9faf8;
    padding: 40px 175px;
    display: flex;
    gap: 100px;
}

.cta-text {
    flex: 1;
}

.cta-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

button.cta {
    border-style: solid;
    border-color: #f9faf8;

}


h5.cta-header{
    margin: 0;
    font-size: 20px;
}
p.cta-stuff{
    margin: 0;
    font-size: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    color: #f9faf8;
    background-color: #1f2937;
    min-height: 50px;
    align-items: center;
}

button:hover {
    background-color: #54b3f3;
}

button:active {
    background-color: #3882f6;
}





